@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --FontPoppins: "Poppins", sans-serif;
  --Letter: 0.9375rem;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--FontPoppins);
  background-color: var(--Very-Light-Gray);
  color: var(--Very-Dark-Blue);
}

.main {
  max-width: 1200px;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container .title,
.container .subtitle {
  font-size: 30px;
}
.container .title {
  font-weight: 200;
}

.container .subtitle {
  font-weight: 700;
}

.container .description {
  padding: 1rem 0 3rem;
  width: 500px;
  margin: auto;
  font-size: var(--Letter);
}

.container .cards {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.container .cards .card-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container .cards .card {
  width: 300px;
  height: 200px;
  padding: 1.5rem;
  text-align: start;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0.25rem 0.5rem 0 rgb(182 178 178 / 20%),
    0 0.375rem 1.25rem 0 hsl(212, 86%, 95%);
}

.container .cards .card .card-title {
  font-weight: 700;
  font-size: 1.2rem;
}

.container .cards .card .card-description {
  font-size: var(--Letter);
  color: var(--Grayish-Blue);
  font-size: 0.75rem;
}

.container .cards .one {
  border-top: 4px solid var(--Cyan);
}

.container .cards .card .image {
  display: flex;
  justify-content: right;
}

.container .cards .card .image img {
  width: 50px;
}

.container .cards .two {
  border-top: 4px solid var(--Red);
}

.container .cards .three {
  border-top: 4px solid var(--Orange);
}

.container .cards .four {
  border-top: 4px solid var(--Blue);
}

.footer {
  margin-top: -2.8125rem;
  text-align: center;
  font-weight: 500;
  color: var(--Blue);
}
.footer a {
  font-weight: 700;
  color: var(--Red);
  text-decoration: none;
}

@media (max-width: 997px) {
  .main {
    height: 150vh;
  }

  .container .cards {
    flex-direction: column;
  }

  .container .cards .card {
    width: 500px;
  }
}

@media (max-width: 570px) {
  .container .description {
    width: 90%;
  }

  .container .cards .card {
    width: 300px;
    margin: auto;
  }

  .footer {
    padding: 1.5rem;
  }
}

@media (max-width: 395px) {
  .container .title,
  .container .subtitle {
    font-size: 1.25rem;
  }
}
